<div class="main-content page-blog space-80">
  <div class="container">
      <div class="blog-post-container blog-page blog-post-columns-3"> 
      <div class="row margin-0">                       
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item -->                        
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item -->                        
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item --> 
          </div> 
          <div class="row margin-0">                      
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item -->                        
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item -->                        
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item -->   
          </div>
          <div class="row margin-0">                     
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item -->                       
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item -->                       
          <div class="blog-post-item">
              <div class="blog-post-image effect-v6">
                  <a href="#" title="Post"><img src="{{ 'futurelifeasset/images/ImgBlog/1.jpg' | asset_url }}" alt=""></a>
                  <a class="action light-style"  href="#"><i class="icons icons-bodered radius-x fa fa fa-link"></i>
                  </a>
              </div>                            
              <p class="post-by"><span>POSTED IN NEWS</span><span> BY ADAM SMITH</span></p>
              <h3><a href="#" title="Integer scelerisque diam vitae aliquam fringilla." >Integer scelerisque diam vitae aliquam fringilla.</a></h3>
              <p class="post-date"><i class="fa fa-calendar"></i>16 December, 2015</p>
              <p class="content">Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna...</p>
          </div>
          <!-- End blog-item -->                       
          </div>
          <div class="pagination-container blog">
              <nav class="pagination">    
                  <span class="page-numbers current">01</span>
                  <a class="page-numbers" href="#">02</a>
                  <a class="page-numbers" href="#">03</a>
                  <a class="next page-numbers" href="#">Next</a>
              </nav>
          </div>
          <!-- End pagination-container -->                     
      </div>
      <!-- End blog-post-container -->
  </div>
  <!-- End container -->
</div>