<div class="main-content space-80">
  <div class="container">
      <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Table</li>
      </ul>                     
      <div class="banner-grid col-md-12">
          <img src="{{ 'futurelifeasset/images/Futurelife-banner-grid' | asset_url}}.jpg" alt="Banner">
      </div>         
      <!-- End Banner Grid -->
      <div class="ordering">
          <a href="/product-sidebar" title="show sidebar">Show Slidebar</a>
          <span class="list"></span>
          <span class="col active"></span>
          <form action="#" method="get" class="order-by">
              <select class="orderby" name="orderby">
                      <option>Sort by popularity</option>
                      <option selected="selected">Sort by average rating</option>
                      <option>Sort by newness</option>
                      <option>Sort by price: low to high</option>
                      <option>Sort by price: high to low</option>
              </select>
          </form>
          <p class="result-count">Showing 1-12 of 30 relults</p>
      </div>
      <!-- End ordering -->
  </div>
  <!-- End container --> 
      <div class="products grid_full">
          <div class="container">
              <div class="item-inner">
                  <div class="product">
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product">
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product sale">
                      <span class="sale lable">Sale</span>
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <div class="product-price">
                          <p class="content-star">
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star"></i>
                          </p>
                          <span class="price">$ 650.99</span>
                          <span class="price-old">$ 670.99</span>
                      </div>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product ">
                      <span class="new lable">New</span>
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product">
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product">
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product sale">
                      <span class="sale lable">Sale</span>
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <div class="product-price">
                          <p class="content-star">
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star"></i>
                          </p>
                          <span class="price">$ 650.99</span>
                          <span class="price-old">$ 670.99</span>
                      </div>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product ">
                      <span class="new lable">New</span>
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product">
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product">
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product sale">
                      <span class="sale lable">Sale</span>
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <div class="product-price">
                          <p class="content-star">
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star"></i>
                          </p>
                          <span class="price">$ 650.99</span>
                          <span class="price-old">$ 670.99</span>
                      </div>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
              <div class="item-inner">
                  <div class="product ">
                      <span class="new lable">New</span>
                      <a class="product-images" href="#" title="">
                          <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                          <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                      </a>
                      <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                      <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="product-price">$ 650.99</p>
                      <a class="add-to-cart" href="#">Add to Cart</a>
                      <div class="action">
                          <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                          <a href="#" title="View"><i class="fa fa-compress"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End container -->
      </div>
      <!-- End product-content products  -->
      <div class="container">
          <div class="pagination-container">
              <nav class="pagination">    
                  <span class="page-numbers current">1</span>
                  <a class="page-numbers" href="#">2</a>
                  <a class="page-numbers" href="#">3</a>
                  <a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a>
                  <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
              </nav>
              <p class="result-count">Showing 1-12 of 30 relults</p>
          </div>
      </div>
</div>