<div class="main-content space-80"> 
  <div class="container">            
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Table</li>
    </ul>   
    <div id="secondary" class="widget-area col-xs-12 col-md-3">
        <aside class="widget widget_product_categories">
            <h3 class="widget-title">Categories</h3>
            <ul class="product-categories">
                <li><a href="#" title="Men">Men</a>
                    <ul class="children">
                        <li><a href="#" title="Bag & Luggage">Bag & Luggage</a></li>
                        <li><a href="#" title="Eyewear">Eyewear</a></li>
                        <li><a href="#" title="Jewelry">Jewelry</a></li>
                        <li><a href="#" title="Shoes">Shoes</a></li>
                        <li><a href="#" title="Skyrts">Skyrts</a></li>
                    </ul>
                </li>
                <li><a href="#" title="woment">woment</a>
                    <ul>
                        <li><a href="#" title="Bag">Bag</a></li>
                        <li><a href="#" title="Bed & Bath">Bed & Bath</a></li>
                        <li><a href="#" title="Sport tops & Vest">Sport tops & Vest</a></li>
                        <li><a href="#" title="Sport undewear">Sport undewear</a></li>
                    </ul>
                </li>
                <li><a href="#" title="kids">kids</a></li>
                <li><a href="#" title="All Product">All Product</a></li>
            </ul>
        </aside>
        <aside class="widget">
            <h3 class="widget-title">Shop by</h3>
        </aside>
        <aside class="widget widget_color_option">
            <h4>Color Option</h4>
            <ul>
                <li><a href="#" title="Black">Black</a><span class="count">(15)</span></li>
                <li><a href="#" title="White">White</a><span class="count">(09)</span></li>
                <li><a href="#" title="Blue">Blue</a><span class="count">(12)</span></li>
                <li><a href="#" title="Red">Red</a><span class="count">(16)</span></li>
                <li><a href="#" title="Screen">Screen</a><span class="count">(05)</span></li>
            </ul>
        </aside>
        <aside class="widget widget_subcategory">
            <h4>Subcategory</h4>
            <ul>
                <li><a href="#" title="Materlal Bag">Materlal Bag</a><span class="count">(15)</span></li>
                <li><a href="#" title="Arreglos">Arreglos</a><span class="count">(09)</span></li>
                <li><a href="#" title="Dresses">Dresses</a><span class="count">(12)</span></li>
                <li><a href="#" title="Headphone">Headphone</a><span class="count">(16)</span></li>
            </ul>
        </aside>
        <aside class="widget widget_size_option">
            <h4>Size options</h4>
            <ul>
                <li><a href="#" title="L">L</a><span class="count">(15)</span></li>
                <li><a href="#" title="M">M</a><span class="count">(09)</span></li>
                <li><a href="#" title="S">S</a><span class="count">(12)</span></li>
                <li><a href="#" title="XL">XL</a><span class="count">(16)</span></li>
            </ul>
        </aside>
        <aside class="widget">
            <h3 class="widget-title">Compare</h3>
            <p>You have no item to compare</p>
        </aside>
    </div>
    <!-- End Secondary -->
    <div id="primary" class="col-xs-12 col-md-9">                  
            <div class="banner-grid col-md-12">
                <img src="{{ 'futurelifeasset/images/Futurelife-banner-grid' | asset_url}}.jpg" alt="Banner">
            </div>         
            <!-- End Banner Grid -->
            <div class="ordering">
                <a href="#" title="show sidebar">Show Slidebar</a>
                <span class="list"></span>
                <span class="col active"></span>
                <form action="#" method="get" class="order-by">
                    <select class="orderby" name="orderby">
                            <option>Sort by popularity</option>
                            <option selected="selected">Sort by average rating</option>
                            <option>Sort by newness</option>
                            <option>Sort by price: low to high</option>
                            <option>Sort by price: high to low</option>
                    </select>
                </form>
                <p class="result-count">Showing 1-12 of 30 relults</p>
            </div>
            <!-- End ordering -->
            <div class="products grid_full grid_sidebar">
                    <div class="item-inner">
                        <div class="product">
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product">
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product sale">
                            <span class="sale lable">Sale</span>
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <div class="product-price">
                                <p class="content-star">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                                <span class="price">$ 650.99</span>
                                <span class="price-old">$ 670.99</span>
                            </div>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product ">
                            <span class="new lable">New</span>
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product">
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product">
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product sale">
                            <span class="sale lable">Sale</span>
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <div class="product-price">
                                <p class="content-star">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                                <span class="price">$ 650.99</span>
                                <span class="price-old">$ 670.99</span>
                            </div>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product ">
                            <span class="new lable">New</span>
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product">
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product">
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product sale">
                            <span class="sale lable">Sale</span>
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <div class="product-price">
                                <p class="content-star">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                                <span class="price">$ 650.99</span>
                                <span class="price-old">$ 670.99</span>
                            </div>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="product ">
                            <span class="new lable">New</span>
                            <a class="product-images" href="#" title="">
                                <img class="primary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                                <img class="secondary_image" src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url}}" alt=""/>
                            </a>
                            <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="product-price">$ 650.99</p>
                            <a class="add-to-cart" href="#">Add to Cart</a>
                            <div class="action">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="View"><i class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- End product-content products  -->
            <div class="pagination-container">
                <nav class="pagination">    
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="#">2</a>
                    <a class="page-numbers" href="#">3</a>
                    <a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a>
                    <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
                </nav>
                <p class="result-count">Showing 1-12 of 30 relults</p>
            </div>
            <!-- End pagination-container -->
        </div>
        <!-- End Primary -->
        </div>           
        <!-- End conainer -->
  </div>